#main {
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  min-height: 100vh;

  .site-page {
    padding: 30px 50px;
    min-height: 100vh;

    .site-page-header {
      margin-bottom: 30px;
      height: 36px;
    }
  }
}

@media screen and (max-width: 600px) {
  @import './style.m.scss';
}
