#createWithdraw {
  .opt {
    display: flex;
  }
  .business-create-pad {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .business-create-overview {
    flex-grow: 0;
    flex-shrink: 0;
    width: 330px;
    margin-left: 45px;
  }
}
