#createWithdraw {
  .opt {
    display: flex;
  }
  .business-create-pad {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .business-create-overview {
    flex-grow: 0;
    flex-shrink: 0;
    width: 330px;
    margin-left: 45px;
  }

  .alert-container {
    margin-bottom: 24px;

    .ant-alert.ant-alert-error {
      background: transparent;
      border-color: var(--main-text-red);

      .ant-alert-message {
        color: var(--main-text-red);
      }
    }
  }
}
