#borrow {
  .ez-table {
    .thead .tr {
      margin-bottom: 35px;
    }
    .tbody .tr {
      margin-bottom: 45px;
    }

    .symbol {
      width: 15%;
    }
    .available {
      width: 15%;
    }
    .borrowed {
      width: 15%;
    }
    .apr {
      width: 15%;
    }
    .borrowratemode {
      width: 20%;
    }
    .opt {
      width: 20%;

      a {
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .symbol {
      .icon {
        display: inline-block;
        height: 36px;
        width: 36px;
        padding: 5px;
        border-radius: 18px;
        background-color: var(--main-symbol-icon-bg);
        margin-right: 20px;
      }
      svg {
        height: 26px;
        width: 26px;
      }
      
      &>* {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  @import './style.m.scss';
}
