#borrow {
  .title {
    font-size: 24px;
    margin-bottom: 45px;
  }

  .ez-table {
    .thead .tr {
      margin-bottom: 35px;
    }
    .tbody .tr {
      padding-bottom: 22px;
      margin-bottom: 22px;

      &.divider {
        border-bottom: var(--main-text-gray) solid 1px;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .symbol {
      width: 15%;
    }
    .variableapr,
    .stableapr {
      width: 20%;
    }
    .available,
    .borrowed {
      width: 20%;
    }
    .opt {
      width: 10%;
      text-align: right;

      a {
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .symbol {
      .icon {
        display: inline-block;
        height: 36px;
        width: 36px;
        padding: 5px;
        border-radius: 18px;
        background-color: var(--main-symbol-icon-bg);
        margin-right: 20px;
      }
      svg {
        height: 26px;
        width: 26px;
      }
      
      &>* {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  @import './style.m.scss';
}
