#createRepay {
  .opt {
    display: flex;
  }
  .business-create-pad {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .business-create-overview {
    flex-grow: 0;
    flex-shrink: 0;
    width: 330px;
    margin-left: 45px;
  }

  .info-container {
    margin-bottom: 24px;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
