.business-page .site-page-header {
  a {
    font-size: 20px;
    color: var(--main-text-gray);
    margin-right: 50px;

    &.active {
      color: var(--main-text-strong);
    }
  }

  .back-btn {
    color: var(--main-text-strong);

    &:hover {
      color: var(--main-text);
    }

    .icon {
      display: inline-block;
      height: 30px;
      width: 30px;
      font-size: 15px;
      background: var(--main-pad-bg);
      border-radius: 8px;
      line-height: 30px;
      text-align: center;
      margin-right: 12px;
    }
  }
}

.business-page .business-create-pad {
  background: var(--main-pad-bg);
  border-radius: 8px;
  padding: 40px 30px;

  .title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .balance {
    font-size: 54px;
    height: 75px;
    line-height: 75px;

    .symbol {
      font-size: 24px;
      margin-left: 18px;
    }
  }

  .balance-value {
    color: var(--main-text-gray);
    margin-bottom: 18px;
  }

  .input-container {
    display: flex;
    align-items: center;
    background: var(--page-background);
    padding: 25px 20px;
    border-radius: 12px;

    .icon {
      display: inline-block;
      height: 32px;
      width: 32px;
      padding: 4px;
      border-radius: 16px;
      background-color: var(--main-symbol-icon-bg);
      margin-right: 12px;

      svg {
        height: 24px;
        width: 24px;
      }
    }
    .symbol {
      font-size: 16px;
      font-weight: 600;
    }
    .max-btn {
      padding: 8px 12px;
      margin-right: 12px;
    }
    .input {
      position: relative;
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 12px;
      font-size: 30px;
      min-width: 0;

      input {
        border: none;
        outline: none;
        width: 100%;

        &::placeholder {
          color: var(--main-input-placeholder);
        }
      }

      .max-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--page-background);
        display: flex;
        align-items: center;

        span {
          border: solid 1px;
          border-color: var(--main-text);
          border-radius: 4px;
          color: var(--main-text);
          font-size: 18px;
          padding: 4px 8px;
          opacity: 0.8;
          background: var(--main-text-gray);
        }
      }
    }
  }

  input {
    background: var(--page-background);
  }

  .slider-container {
    .ant-slider {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .ant-slider-mark {
      display: none;
    }
  }

  .opts {
    display: flex;
    column-gap: 24px;

    button {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}

.business-page .business-create-overview {
  background: var(--main-pad-bg);
  border-radius: 8px;
  padding: 40px 30px;

  .title {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .rows {
    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }
}

.business-page {
  button {
    background: var(--main-text-strong);
    color: var(--main-text);
    border-radius: 4px;
    padding: 20px;
    transition: all ease 0.15s;
    font-size: 16px;

    &:hover {
      filter: brightness(1.1);
    }

    &:disabled {
      background: var(--button-disabled-bg);
      color: var(--button-disabled-text);
      cursor: not-allowed;

      &:hover {
        filter: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  @import './style.m.scss';
}
