:root {
  --page-background: #100C20;
  --main-text: #fff;
  --main-text-strong: #C7976A;
  --main-text-weak: #7B7F9D;
  --main-text-gray: #464A65;
  --main-text-green: #94CD34;

  --index-market-bg: #212232;
}
