:root {
  --page-background: #100C20;
  --main-text: #fff;
  --main-text-strong: #C7976A;
  --main-text-strong-2: #DDC1A6;
  --main-text-weak: #7B7F9D;
  --main-text-gray: #464A65;
  --main-text-green: #94CD34;
  --main-text-orange: #FE9900;

  --main-pad-bg: #212232;
  --main-pad-bg-strong: #4E516D;
  --main-tip-bg: #fff;
  --main-tip-text: #100C20;

  --index-market-bg: var(--main-pad-bg);
  --business-user-info-bg: var(--main-pad-bg);
  --business-user-info-bar-color-1: #E4913B;
  --business-user-info-bar-color-2: #EDC910;
  --business-user-info-bar-color-3: #E43BA3;
}
