#index .market-info {
  .title {
    font-size: 24px;
    margin-bottom: 18px;
  }
  .cards {
    display: flex;
    column-gap: 45px;
  }
  .card {
    flex-grow: 1;
    flex-shrink: 1;
    width: 33.3333%;
    padding: 16px;
    background-color: var(--index-market-bg);
    background-image: url(../../assets/index-card-bg.svg);
    background-repeat: no-repeat;
    background-position: calc(100% + 15px) calc(100% + 15px);
    font-size: 16px;
    border-radius: 8px;
    

    &-title {
      margin-bottom: 35px;
    }
    &-value {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .value {
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 24px;
      }
      .unit {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 8px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  @import './style.m.scss';
}
