#index .market-info {
  margin-bottom: 40px;

  .title {
    font-size: 24px;
    margin-bottom: 18px;
  }
  .cards {
    display: flex;
    column-gap: 45px;
  }
  .card {
    flex-grow: 1;
    flex-shrink: 1;
    width: 33.3333%;
    padding: 16px;
    background-color: var(--index-market-bg);
    background-image: url(../../assets/index-card-bg.svg);
    background-repeat: no-repeat;
    background-position: calc(100% + 15px) calc(100% + 15px);
    font-size: 16px;
    border-radius: 8px;
    

    &-title {
      margin-bottom: 35px;
    }
    &-value {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .value {
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 24px;
      }
      .unit {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 8px;
      }
    }
  }
}

#index .market-list {
  .ez-table {
    .thead .tr {
      margin-bottom: 40px;
    }
    .tbody .tr {
      margin-bottom: 45px;
    }

    .symbol {
      width: 15%;
    }
    .totalusd {
      width: 15%;
    }
    .deposit {
      width: 20%;
    }
    .borrow {
      width: 20%;
    }
    .depositapr {
      width: 15%;
    }
    .borrowapr {
      width: 15%;
    }
    .deposit,
    .borrow {
      &>div:last-child {
        color: var(--main-text-gray);
      }
    }

    .symbol,
    .totalusd,
    .deposit,
    .borrow,
    .deposit>div:last-child,
    .borrow>div:last-child {
      transition: all ease 0.15s;
    }
    
    .symbol {
      .icon {
        display: inline-block;
        height: 36px;
        width: 36px;
        padding: 5px;
        border-radius: 18px;
        background-color: #fff;
        margin-right: 20px;
      }
      svg {
        height: 26px;
        width: 26px;
      }
      
      &>* {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  @import './style.m.scss';
}
